.red {
  color: #e13422;
}

.green {
  color: #469650;
}

.lighter {
  color: #999999;
}

.boundingBox {
  display: block;
  float: left;
  margin: 0px 10px 10px 0px;
  width: 330px;
  height: 100px;
  position: relative;

  background: #ffffff;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
}

.iconBox {
  display: flex;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10px;
  top: 10px;

  background: #e1e4ea;
  border-radius: 10px;
}

.iconBox img {
  padding: 10px;
}

.coinName {
  position: absolute;
  width: 120px;
  height: 20px;
  left: 105px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  color: #666666;
  line-height: 21px;
}

.tradingPair {
  color: #999999;
  position: absolute;
  width: 80px;
  height: 20px;
  right: 10px;
  top: 10px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  text-align: right;
}

.changeFrame {
  position: absolute;
  width: 215px;
  height: 20px;
  left: 105px;
  top: 32px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  align-items: center;
  color: #469650;
}

.changeFrame div {
  margin-left: 10px;
  display: inline-block;
}

.price {
  color: #333333;
  position: absolute;
  width: 215px;
  height: 24px;
  left: 105px;
  bottom: 8px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  align-items: center;
}

.currency {
  font-family: Roboto;
  font-style: normal;
  color: #999999;
  font-weight: 900;
  font-size: 10px;
  line-height: 12px;
  margin-left: 3px;
}

.sparkline {
  position: absolute;
  width: 100px;
  height: 20px;
  right: 10px;
  bottom: 10px;
}

/* Styles for the top metric */

.metric {
  position: relative;
  font-family: Roboto;
  height: 45px;
  margin-left: 5px;
  color: #999999;
  align-items: center;
}

.metricLabel {
  width: 160px;
  height: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
}

.metricValue {
  position: absolute;
  bottom: 0px;
  display: inline-block;
  width: 160px;
  height: 32px;

  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #666666;
}

.smallMetricValue {
  position: relative;
  display: inline-block;
  width: 124px;
  height: 32px;

  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
}
